body, nav, header, main, footer{
    margin: 0;
    padding: 0;
    min-width: 300px;
}

body {
    background: #000;
}

.container {
    margin: 0 auto;
}

nav {
    top:0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 10;
    width: 100%;

    box-shadow: 0 1px 2px -1px #fff;
    -moz-box-shadow: 0 1px 2px -1px #fff;
    -webkit-box-shadow: 0 1px 2px -1px #fff;

    float:left;
    font-family: "Open Sans", "Verdana", sans-serif;
    font-size: 0.9rem;
    text-transform:uppercase;
    color: #fff;
    letter-spacing:0.15rem;
    font-weight:bold;
}

.navigation {
    display: none;
}

.navigation a, .navigation a:visited, .navigation a:link{
    text-decoration:none;
    display: inline-block;
    color: #fff;
    padding: 0.8rem;
}

nav	.navigation_mobile i {
    float: left;
    cursor: pointer;
    color: #dbbd8a;
    padding: 0.25rem;
}

.navigation_mobile_link a{
    display: block;
    clear: left;
    padding: 0.4rem 0.25rem 0.4rem 1rem;
}

.navigation_mobile_link a, .navigation_mobile_link a:visited, .navigation_mobile_link a:link{
    text-decoration:none;
    color: #fff;
}

.navigation a:hover, .navigation_mobile_link a:hover{
    text-decoration:underline;
    color:#dbbd8a;
}

.hidden {
    display: none;
}

header {
    background: url(../img/bckg.jpg);
    background-repeat: no-repeat;
    background-position:center top;
    background-attachment:scroll;
    background-size:cover;
    width: 100%;
    height: 400px;
}

.header_text{
    padding-top:5rem;
    padding-bottom: 5rem;
    font-family: "Open Sans", "Verdana", sans-serif;
    color: #FFF;
    text-align: center;
}

.header_my_jsme {
    font-size:1rem;
    text-shadow: 2px 3px 3px #000;
}

.header_pod_nazev{
    font-size:2rem;
    text-shadow: 4px 3px 4px #333;
    text-transform:uppercase;
}

main{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size:1rem;
    color:#555;
}

section{
    width: 100%;
}

section:nth-child(odd) {
    background: #fff;
    color:#000;
}

.content{
    padding: 1rem;
    text-align:center;
}

.kontakt_wrap{
    display:inline-block;
    text-align:left;
}

.kontakt_form{
    padding: 0.2rem;
}

footer {
    background: #000;
    width: 100%;
}

.footer_text{
    padding:0.8rem;
    text-align:center;
    color:#dbbd8a;
    font-size: 0.9rem;
    font-family: "Helvetica", "Arial", sans-serif;
    font-style:italic;
}

h1{
    color:#dbbd8a;
    font-size:1.5rem;
    font-family: "Open Sans", "Verdana", sans-serif;
    text-transform:uppercase;
    letter-spacing:3px;
}

h2{
    font: bold 1.25rem/1.3rem "Open Sans", "Verdana";
    color:#dbbd8a;
}

h3{
    color:#666;
    font-size:0.85rem;
    font-style:italic;
    font-weight: 200;
    font-family: "Open Sans", "Verdana", sans-serif;
    letter-spacing:1px;
}

p{
    text-align: justify;
}

.fa, .fa-phone, .fa-fw , .fa-map-marker i{
    color:#dbbd8a;
    margin-top: 0;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 0;
}

a, a:visited, a:link{
    text-decoration:none;
    color: #FFF;
}

a:hover{
    color: #dbbd8a;
}
img{
    max-width: 100%;
    height: auto;
}

/* Kontaktní formulář */
input {
    margin-bottom:10px;
    width: 49%;
}
textarea {
    height:4rem;
    margin-bottom:10px;
    width: 100%;
}

input, textarea {
    font-size: 1rem;
    padding: 10px 10px 10px;
    font-family: "Helvetica", "Arial", sans-serif;
    border: 1px solid #cecece;
    color:#000;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width:435px;
}
::-webkit-input-placeholder {
    color: #999;
}
:-moz-placeholder {
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}
button {
    float:right;
    font-size: 1rem;
    margin-bottom:20px;
    background-color:#000;
    padding: 0.4rem;
    border: none;
    -webkit-transition: .3s;
    transition: .3s;
    display: block;
    cursor: pointer;
    color:#FFF;
    text-transform:uppercase;
}
button:hover, .button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    color: #dbbd8a;
}

.uspesne_odeslano{
    float:right;
    margin-right:15px;
    color:#dbbd8a;
    margin-bottom:20px;
    padding: 5px;
}

@media (min-width: 480px) {
    .header_my_jsme {
        font-size:1.5rem;
        text-shadow: 2px 3px 3px #000;
    }

    .header_pod_nazev{
        font-size:3rem;
        text-shadow: 4px 3px 4px #333;
        text-transform:uppercase;
    }

}

@media (min-width: 769px) {

    .navigation_mobile {
        display: none;
    }
    .container{
        width: 768px;
    }
    .navigation {
        display: block;
    }
    header{
        height: 600px;
    }
    .header_my_jsme {
        font-size:2rem;
        text-shadow: 2px 3px 3px #000;
    }

    .header_pod_nazev{
        font-size:4rem;
        text-shadow: 4px 3px 4px #333;
        text-transform:uppercase;
    }
}

@media (min-width: 1024px) {

    .container{
        width: 1024px;
    }
    header{
        height: 900px;
    }
    .header_my_jsme {
        font-size:3rem;
        text-shadow: 2px 3px 3px #000;
    }

    .header_pod_nazev{
        font-size:6rem;
        text-shadow: 4px 3px 4px #333;
        text-transform:uppercase;
    }
}

@media (min-width: 1280px) {

    .container{
        width: 1280px;
    }
    .header_my_jsme {
        font-size:3.5rem;
        text-shadow: 2px 3px 3px #000;
    }

    .header_pod_nazev{
        font-size:7rem;
        text-shadow: 4px 3px 4px #333;
        text-transform:uppercase;
    }
}